<div class="profile-card">
    <div class="avatar-name">
        <img class="profile-card__avatar" alt="avatar" src="https://pics.craiyon.com/2023-11-28/iG-CKebxQJS57U7EVOtykw.webp">
        <div class="profile-card__name">
            <p class="profile-card__username">
              Pascal The Duck  
            </p>
            <p class="profile-card__nickname">
              kissmydebug 
            </p>
            
        </div>
    </div>
    <div class="profile-card__description">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum illo facilis nisi earum incidunt ratione omnis dolorem! Rerum aliquid sed maiores! Voluptate, temporibus beatae voluptatibus quo ut numquam placeat iste?
        </p>
    </div>
    <div class="profile-card__tags">
        <div class="skill-tag">Debugging</div>
        <div class="skill-tag">JavaScript</div>
        <div class="skill-tag">Angular</div>
    </div>
<div class="profile-card__action-btns">
    <button class="btn" type="button">Subscribe</button>
</div>
</div>
